{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <h4>Clash dans le frigo</h4>
        <div class="col s12 m4">
            {% for guilty in ask_perso %}
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="/media/{{ guilty.perso_ask.image }}" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            {% if guilty.perso.user == request.user %}
                                <p>Vous voulez soutirer des info à <br>
                                    {{ guilty.perso_ask.name }}
                                </p>
                            {% elif guilty.perso_ask.user == request.user %}
                                <p>{{ guilty.perso.name }} veut vous soutirer des info <br>

                                </p>
                            {% else %}
                                <p>{{ guilty.perso.name }} veut soutirer des info à <br>
                                    {{ guilty.perso_ask.name }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            <form method="post" action="/joinAskTalkPerso/{{ guilty.id }}">
                                {% csrf_token %}
                                {% if save_ask.compte >= 4 %}
                                    <p>Vous avez fouillé {{ save_ask.compte }} fois sur 4 fois</p>
                                    <p>Désolé mais vous avez dépassé le cota de clash</p>
                                {% else %}
                                    {% if guilty.user == request.user %}
                                        <button class="btn btn-outline-info" disabled type="submit">Rejoindre</button>
                                        <p>Vous avez fait {{ save_ask.compte }}  clash sur 4 fois</p>
                                    {% elif guilty.perso_ask.user == request.user %}
                                        <button class="btn btn-outline-info" disabled type="submit">Rejoindre</button>
                                        <p>Vous avez fait {{ save_ask.compte }}  clash sur 4 fois</p>
                                    {% elif guilty.join_perso.user == request.user %}
                                        <p>Vous avez demandé de rejoindre ce clash</p>
                                        <button class="btn btn-outline-info red" type="submit">Annuler</button>
                                    {% else %}
                                        <button class="btn btn-outline-info" type="submit">Rejoindre</button>
                                        <p>Vous avez fait {{ save_ask.compte }}  clash sur 4 fois</p>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}