/* Path: static/css/style.css */
h1, h2, h3, h4, h5, h6 {
    font-family: lazy_dog;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo {
    width: 150px;
    height: 150px;
}